@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&family=Norican&family=Pacifico&family=Yesteryear&display=swap');
#header {

  display: grid;
  grid-template-columns: 10px 1fr 10px 3fr 10px;
  grid-template-rows: 10px auto 10px auto 10px;

}

.title {
  grid-column: 4/5;
  grid-row: 2/3;
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  background-color: #f0efeb;

}

.author {
grid-column: 4/5;
grid-row: 4/5;
}
